{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
                
    <main class="govuk-main-wrapper " id="main-content" role="main">
                
                
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">Appointment cancelled</h1>
                </div>
                <p>Your appointment has been cancelled. No further action is required.</p>
                <p class="govuk-body"><a href="http://localhost/" class="govuk-body govuk-link">Click here to request a new repair</a>
                
                    
                
            </div>
        </div>
    
                </main>

          </main>


{% endblock %}
