{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<main class="govuk-main-wrapper " id="main-content" role="main">
                
                
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="enter-appointment-details-form" action="/do-you-want-to-cancel" class="govuk-!-padding-0" autocomplete="off">
                <input type="hidden" name="csrf_token" value="IjNkNDE1NDdiZTUwYjYzODE4ZGI2ODFlYTk1OTJiNmZiNTlkN2QzYjUi.ZVt93w.oH6kFhV8Y5IhyhsW_6Qdg8wANBQ">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Find your repair appointment</h1>
                    </legend>
                    <p class="govuk-body">Enter the details of the booking you want to cancel to help us find your appointment.</p>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="repair-booking-reference">Your repair booking reference</label>
                        <div class="govuk-hint">You can find this in the confirmation SMS or email.</div>
                        <input class="govuk-input govuk-input--width-10" id="repair-booking-reference" name="repairBookingReference" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label  govuk-label--m" for="repair-postcode">Postcode</label>
                        <div class="govuk-hint">This is the postcode for the property the repair was requested for.</div>
                        <input class="govuk-input govuk-input--width-10" id="repair-postcode" name="repairPostcode" type="text" autocomplete="postal-code">
                    </div>
                </fieldset>
                <button aria-disabled="false" class="govuk-button" data-prevent-double-click="false" data-module="govuk-button">Continue</button>
            </form>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="http://localhost/" class="govuk-body govuk-link">Can't find your booking reference?</a>
        </div>
    </div>

            </main>


{% endblock %}
